.bundle
db/*.sqlite3
log/*.log
tmp/**/*
log/*
tmp/**/*
db/schema.rb
/public/system
/public/products
/public/job_applications/*
/public/sitemap.xml.gz
*.DS_Store
coverage/*
*.swp
tags
**/tags
!.keep
.rake_tasks
*.core
nbproject
TODO
*.*~
db/*dump*.sql
.project
config/deploy.rb
deploy_old.rb
*.db
config/database.yml
.sass-cache
tmp/*
.eprj
routes.txt
.sass-cache/
solr/data
solr/test
solr/development
solr/default/data
/log/*.log.lck
solr/pids