// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#photo_cropper_container {
  width: 600px; float: left;
  img { max-width: 100%; }

}

#cropper_previews {
  display: block; position: absolute; top: 30px; right: 50px;
  #main_preview_con { 
    display: block; width: 300px; border: 1px solid; height: 169px; overflow: hidden; position: relative;
    img { position: absolute; }
    
  }

}

#current_image {
	display: block; position: absolute; top: 400px; right: 50px;

}

#photo_form { 
  width: 100%; float: left; margin-top: 30px; 
  
  form { 
    width: 600px; display: flex; flex-wrap: wrap; justify-content: space-around;
    div {
      margin-left: 10px; float: left; height: 20px; margin-bottom: 8px;
      input { width: 75px; float: left; }
      label { width: 75px; float: left; }
    }
    }
  }